
@media screen and (max-width:1199px){
	.welcome-hero-txt h2{font-size: 40px;}
	.single-welcome-hero-form input {width: 177px;}
	.welcome-hero-btn {width: 140px;}

}

@media screen and (max-width:991px){
	.welcome-hero-serch-box {display: flex; flex-direction: column;align-items: center;}
	.welcome-hero-btn {margin-top: 30px;}
	.welcome-hero-form {width: 100%;}
}


@media screen and (max-width:767px){
	.welcome-hero-txt h2 {font-size: 24px;}
	.welcome-hero-txt {padding-top: 80px;}
	.single-welcome-hero-form {flex-direction: column;width: 100%;background: #fff; margin: 15px 0;padding: 20px 0;}
	.welcome-hero-form {width: 100%;flex-direction: column;height: 250px;background: transparent;}

	
}/*max-width:767px*/
