*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
    background-color: rgba(179, 209, 179, 0.699);
	color:#a09e9c;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}


h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#343a3f;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#767f86;
	font-size:14px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
a{ text-decoration:none;}
input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 12px;}

select{
    background-color: #fff;
    text-align: center;
    color: #777f85;
    width: 380%;
    border: transparent;
}



html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}

/* section-header */
.section-header {
    position: relative;
    text-align: center;
    padding-top: 40px;
}
.section-header  h2{
    color: #505866;
    font-size:24px;
    font-weight: 500;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.section-header  h2 span{text-transform: lowercase;}
.section-header p{
    font-size:16px;
}
/* section-header */
.fix{position: relative;clear: both;}
/*=============Style css=========*/


/*-------------------------------------
        4.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    background:url(../../img/local/pracinha.png)no-repeat;
    background-position:center;
    background-size:cover;
    text-align: center;
    height:800px;
    z-index: 1;
}
.welcome-hero:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(65,73,89,.65);
    z-index: -1;
}
.welcome-hero-txt { padding-top: 155px;}

.welcome-hero-txt h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
}
.welcome-hero-txt p {
    font-size: 18px;
    color: #fcfcfc;
    margin-top: 25px;
}

.welcome-hero-serch-box{margin-top: 78px;display: flex;}
.welcome-hero-form {
    display: flex;
    background: #fff;
    height: 70px;
    border-radius: 3px;
    width: 85%;
}
.single-welcome-hero-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 30px;
}

#text-pesquisa{
    padding-top: 25px;
    padding-left: 15px;
}
.single-welcome-hero-form:first-child{border-right: 1px solid #edeff1;}
.single-welcome-hero-form input {
    margin-left: 10px;
    height: 70px;
    width: 300px;
    border: 0;
    background: transparent;
}
.single-welcome-hero-form input[type="text"]{
    font-size: 14px;
    color: #859098;
    text-transform: capitalize;
    font-weight: 500;
}

.welcome-hero-btn {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  14px;
    color:  #fff;
    width:  170px;
    height:  70px;
    background:  #3f9945;
    text-transform:  capitalize;
    margin-left:  30px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.welcome-hero-btn:hover{/*background: #578a9b*/background: #578a9b}

.welcome-hero-btn svg {
    width:  14px;
    height:  auto;
    margin-left:  12px;
}

/*-------------------------------------
        5. List-topuics
--------------------------------------*/

.categorias ul li { 
    display: inline-block;
    vertical-align: top;
    }

#btn_a {
	background-image: linear-gradient(to right, #578a9b 0%, #3f9945 100%);
	border-radius: 20px;
    box-sizing: border-box;
	color: #3f9945;
	letter-spacing: 1px;
	display: block;
	height: 140px;
	margin: 0 auto;
    margin-left: 25px;
	padding: 4px;
	position: relative;
  text-decoration: none;

	width: 155px;
	z-index: 2;
}

#btn_a:hover {
	color: #fff;
}

#btn_a span {
	align-items: center;
	background: #e7e8e9;
	border-radius: 20px;
	display: flex;
    font-size: 14px;
	justify-content: center;
    font-weight: 600;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 8px;
  
 
}

#btn_a:hover span {
	background: transparent;
}

/*-------------------------------------
        6. Works 
--------------------------------------*/
.works{padding: 0 0 90px;}

.card-block {
    font-size: 1em;
    position: relative;
    
    margin: 0;
    padding: 2.5em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.card h2{
    font-weight: bold;
    font-size: 25px;
}

.card li {
    position: relative;
}

.card:hover h2,.card:hover p{color: #fff;}

.card:hover p small b{
    color: #eee;
}

.card:hover{box-shadow: 0 0px 10px rgba(71,71,71,.4);background: #3f9945}

#box-text {
    height:160px;
    overflow-y: scroll;
    text-align: justify;
  }
  

#box-text::-webkit-scrollbar {
    width: 9px;
   
}

#box-text::-webkit-scrollbar-track {
    background-color: rgba(241, 236, 236, 0.486);
    border-radius: 5px;
}

#box-text::-webkit-scrollbar-thumb {
    background-color: #578a9b;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}
  
 
